node_modules
.idea
*.iml
.DS_Store

data/followers1*.json
data/followers2*.json
data/followers3*.json
data/followers4*.json
data/followers5*.json
data/followers6*.json
data/followers7*.json
data/followers8*.json
data/followers9*.json

data/following1*.json
data/following2*.json
data/following3*.json
data/following4*.json
data/following5*.json
data/following6*.json
data/following7*.json
data/following8*.json
data/following9*.json